/*!
 *theme made by Kon Aoki
 *2016 tsa
 */
.post-preview {
    width: 50%;
    display: inline-block;
    height: 300px;
    margin-left: -0.6%;
    margin-bottom: -7px;
    background-size: 120%;
}
.course-container .post-preview {
        width: 50%;
    display: inline-block;
    height: 300px;
    margin-left: -3px;
    /* margin-bottom: 10px; */
    /* background-size: 120%; */
    padding: 60px;
    padding-top: 10px;
    /* text-overflow: clip; */
    /* background-color: rgba(255, 255, 255, 0.47); */
    overflow: hidden;
}

.bg-image {
    text-overflow: clip;
    background-color: rgba(255, 255, 255, 0.47);
    overflow: hidden;
    padding: 60px;
    padding-top: 10px;
    height: 100%;
    margin-bottom: -7px;
    text-align: center;
}
.bg-image:hover {
    background-color: rgba(0, 0, 0, 0.47);
    transition-duration: 0.3s;
}
.navbar-header.page-scroll {
   
    /* color: white; */
    border-width: 0;
}
.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1{
  margin:0;
  width:100%;
  padding: 0;
}
.row .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1 a:hover{
      color: #DCDCDC;
}
.container {
    width: 100%;
    padding: 0px;

}
header .container {
    background-color: rgba(0, 0, 0, 0.3);
    min-
    height: 400px;
    
}
header.intro-header {
    background-image:url('../img/city.jpg');
    filter: blur(6px);
    filter: blur(5px);
    /* background-color: black; */
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}




.post-heading h1 {
    /* font-size: 30px !important; */
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.post-heading h2 {
    /* font-size: 20px !important; */
    margin-left: auto !important;
    margin-right: auto !important;
    /* margin-bottom: 0; */
    width: 80%;
}





.course-container .post-preview {
    height: 450px;
    background-color: white;
}
.course-container h3.post-subtitle {
    font-size: 14px;
}


.tsa-container{
padding:20px;
}
.tsa-container h2 {
    font-size: 20px;
}
.tsa-container h3 {
    font-size: 15px;
}


.tsa-navbar {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    padding: 20px;
    font-weight: bold;
}

.tsa-navbar li{
    position: relative;
    display: inline-block;
    /* margin-left: 6%; */
    color: white;
}

.tsa-navbar .navbar-nav {
    /* margin: 0; */
    /* float: none !important; */
    margin-bottom: 6px;
}

.tsa-navbar a {
    color: white;
}
.tsa-navbar a:hover {
    color: #DCDCDC;
    background-color: rgba(255, 255, 255, 0) !important;
}



body {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 20px;
  color: #404040;
  /* background-color: #E0E0E0; */
}
p {
  line-height: 1.5;
  margin: 30px 0;
}
p a {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
  /* font-size: 15px; */
}
a {
  color: #3E3E3E;
  /* font-size: 15px; */
}
a:hover,
a:focus {
  /* transition-duration: 0.2s; */
}
a img:hover,
a img:focus {
  cursor: zoom-in;
}
blockquote {
  color: #808080;
  font-style: italic;
}
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}
.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar-custom .navbar-brand {
  font-weight: 800;
}
.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
}
@media only screen and (max-width: 768px){
  .post-preview {
    width: 100%;
    display: block;
    height: 150px;
    margin-left: 0.1%;
    margin-bottom: -7px;
    background-size: 120%;
    font-size:15px;
}
  .post-preview .post-title{
    font-size:20px;
  }
  .post-preview .post-subtitle{
    font-size:15px;
  }
  .post-preview .bg-image {
    text-overflow: clip;
    background-color: rgba(255, 255, 255, 0.47);
    overflow: hidden;
    padding: 20px;
    padding-top: 10px;
    height: 100%;
    margin-bottom: -7px;
}
.bg-image:hover {
    background-color: rgba(0, 0, 0, 0.47);
    transition-duration: 0.3s;
}
.course-container .post-preview {
    width: 100% !important;
    display: block !important;
    height: auto;
    margin-left: -0.6%;
    margin-bottom: -7px;
    background-size: 120%;
    font-size: 15px;
}
}
@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: transparent;
    border-bottom: 1px solid transparent;
  }
  .navbar-custom .navbar-brand {
    color: white;
    padding: 20px;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-custom .nav li a {
    color: white;
    padding: 20px;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: rgba(255, 255, 255, 0.8);
  }
}
@media only screen and (min-width: 1170px) {

  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-custom.is-fixed .navbar-brand {
    color: #404040;
  }
  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #0085a1;
  }
  .navbar-custom.is-fixed .nav li a {
    color: #404040;
  }
  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #0085a1;
  }
  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
.intro-header {
  background-color: #808080;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 100px 0 50px;
  color: white;
}
@media only screen and (min-width: 768px) {



  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 80px 0;
  }
}
.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
}
.intro-header .post-heading h1 {
  font-size: 25px;
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
}
.intro-header .post-heading .subheading {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  margin: 10px 0 30px;
  font-weight: 600;
}
.intro-header .post-heading .meta {
  font-family: 'Lora', 'Times New Roman', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}
.intro-header .post-heading .meta a {
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .post-heading h1 {
    font-size: 30px;
  }
  .intro-header .post-heading .subheading {
    font-size: 19px;
  }
}
.post-preview > a {
  color: #FFFFFF;
}

.post-preview > a:hover,
.post-preview > a:focus {
  text-decoration: none;
  color: #484848;
  transition-duration: 0.3s;
}
.post-preview > a > .post-title {
  font-size: 30px;
  /* margin-top: 30px; */
  /* margin-bottom: 10px; */
}
.post-preview > a > .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
  font-size: 18px;
  /* padding: 13px; */
}
.post-preview > .post-meta {
  color: #808080;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
}
.post-preview > .post-meta > a {
  text-decoration: none;
  color: #404040;
}
.post-preview > .post-meta > a:hover,
.post-preview > .post-meta > a:focus {
  color: #0085a1;
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}
.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
}
.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
footer {
  padding: 50px 0 65px;
}
footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}
.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group::not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #0085a1;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}
.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;
}
.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #0085a1;
  border: 1px solid #0085a1;
  color: white;
}
.pager {
  margin: 20px 0 0;
}
.pager li > a,
.pager li > span {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 15px 25px;
  background-color: white;
  border-radius: 0;
}
.pager li > a:hover,
.pager li > a:focus {
  color: white;
  background-color: #0085a1;
  border: 1px solid #0085a1;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #808080;
  background-color: #404040;
  cursor: not-allowed;
}
::-moz-selection {
  color: white;
  text-shadow: none;
